<section class="about animate__animated animate__fadeInLeft animate__delay-1s">
  <div class="about-content glass-card reveal">
    <h2>Sobre Mí</h2>
    <p>
      Soy un Ingeniero Informático y Desarrollador expecializado en las tecnologías web, apasionado, con más de 2 años de experiencia construyendo
      aplicaciones web de alta calidad.
      Mi especialidad radica en crear arquitecturas robustas utilizando tecnologías como Angular, NestJS y Node.js,
      siempre con un fuerte enfoque en código limpio, rendimiento y experiencia de usuario.
      <br><br>
      Me destaco en entornos desafiantes donde puedo aplicar mis habilidades de resolución de problemas para transformar
      requisitos complejos en soluciones digitales elegantes.
      Mi enfoque combina la excelencia técnica con una profunda comprensión de las necesidades del usuario, asegurando
      que cada proyecto no solo funcione a la perfección, sino que también brinde una experiencia premium.
    </p>
  </div>
</section>