.footer {
  background-color: #121212;
  color: #e0e0e0;
  padding: 4rem 2rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.footer-text {
  font-size: 1rem;
  color: #bbb;
  margin-bottom: 2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social-icon {
  color: #e0e0e0;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #1e88e5; /* Azul similar al de la página */
}

.social-icon i {
  transition: transform 0.3s ease;
}

.social-icon:hover i {
  transform: translateY(-5px);
}
